body {
  text-align: center;
  background-color: rgb(249, 239, 205);
}
section {
  border: 2px solid grey;
  margin-bottom: 10px;
  margin: 15px 20px;
}
h1 {
  font-family: "Roboto Slab", "serif";
  font-size: 40px;
}
h2 {
  font-size: 32px;
  font-family: "Roboto Slab", "serif";
}
header p,
h4 a {
  font-size: 20px;
}
a:hover {
  text-decoration: none;
  color: pink;
}
a:active {
  color: deeppink;
}
nav ul li {
  display: inline-block;
  width: 100%;
  font-size: 80px;
}
/* Color */
.color {
  display: inline-block;
  width: 31%;
  margin: 20px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#silver {
  background-color: silver;
}
#hotpink {
  background-color: hotpink;
}
#skyblue {
  background-color: skyblue;
}
#lime {
  background-color: lime;
}
#crimson {
  background-color: crimson;
}
#gold {
  background-color: gold;
}
/* Fonts */
#fonts article {
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;
  width: 25%;
  text-align: left;
}
#fonts h3 {
  text-decoration: underline;
  font-weight: 400;
}
.roboto {
  font-family: "Roboto", serif;
}
#roboto {
  position: relative;
  bottom: 9px;
}
#lor {
  position: relative;
  bottom: 1px;
}
.ibmplexsans {
  font-family: "IBM Plex Sans", sans-serif;
}
.lora {
  font-family: "Lora", serif;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
/* Text Styles */
#textstyles article {
  display: inline-block;
  margin: 100 auto;
  text-align: left;
  font-size: 20px;
  padding-right: 40px;
}
#textstyles h3 {
  position: relative;
  left: 30px;
}

#h1main {
  font-weight: 700 (bold);
  font-size: 26px;
  font-family: "Roboto", "IBM Plex Sans", serif;
}
#h2sub {
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", "Lora", sans-serif;
}
#ppar {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, Lora, sans-serif;
}
