body {
  text-align: center;
  background-color: rgb(249, 239, 205);
}
section {
  border: 2px solid grey;
  margin-bottom: 10px;
  margin: 15px 20px;
}
/* Header */

/* Color */
.color {
  display: inline-block;
  width: 31%;
  margin: 20px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#silver {
  background-color: silver;
}
#hotpink {
  background-color: hotpink;
}
#skyblue {
  background-color: skyblue;
}
#lime {
  background-color: lime;
}
#crimson {
  background-color: crimson;
}
#gold {
  background-color: gold;
}
/* Fonts */
#fonts:not(h2) {
  display: inline-block;
  font-size: 15px;
}

.cinzel {
  font-family: "Cinzel", serif;
}

/* Text Styles */
